<%- include('partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

    <%- include('partials/leftMenu') %>

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <div class="col-lg-6">
            <img class="" src="../images/<%= searchedFigurine.name.toLowerCase() %>.png" alt="">
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                  <h3 class="card-title">
                    <%= searchedFigurine.name %>
                    <div class="badge badge-pill badge-<%= searchedFigurine.category.toLowerCase() %>"><%= searchedFigurine.category %></div>
                  </h3>
                  <p class="card-text">Taille réelle : <%= searchedFigurine.size %> cm</p>
                  <p class="card-text"><%= searchedFigurine.description %></p>
                  <p class="card-text">
                    Note moyenne : <%- star.repeat(noteTotal) + ' ' + starLess.repeat(5-noteTotal) %>
                    <br>
                    <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                  </p>
                  <h5>$<%= searchedFigurine.price %></h5>
                  <p class="card-text">
                    <a href="/bookmark/add/<%= searchedFigurine.id %>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                  </p>
              </div>
            </div>
          
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Modale des avis -->
  <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <% searchedReviews.forEach(element => { %>
           
          <section>
            <h5><%= element.title %> &nbsp; <small class="text-muted">
              <%- star.repeat(element.note) + ' ' + starLess.repeat(5-element.note) %>
            </small></h5>
            <p class="review-author">par <%= element.author %></p>
            <p><%= element.message %></p>
          </section>

          <hr>

          <% }) %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>