<!-- Page Content -->
<%- include('partials/header') %>

<div class="container container-main">

    <div class="row">

    <%- include('partials/leftMenu') %>

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">


        <div class="row">

          <% if (bookmarkList === undefined) { %>

            <h1>Vous n'avez pas de favoris</h1>
            
          <% } else if (bookmarkList.length === 0) { %>

            <h1>Vous n'avez pas de favoris</h1>
             
          <% } else { %>
                <% bookmarkList.forEach(element => { %>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                          <a href="/article/<%= element.id %>">
                            <img class="card-img-top" src="./images/<%= element.name.toLowerCase() %>.png" alt="">
                            <div class="badge-category badge badge-pill badge-<%= element.category.toLowerCase() %>"><%= element.category %></div>
                          </a>
                          <div class="card-body">
                            <h4 class="card-title">
                              <a href="/article/<%= element.id %>"><%= element.name %></a>
                            </h4>
                            <h5>$<%= element.price %></h5>
                            <p class="card-text"><%= element.description %></p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <a href="/bookmark/delete/<%= element.id %>" class="link-add-bookmarks">Supprimer des favoris</a>
                          </div>
                        </div>
                      </div>
                 
                <% }) %>
            <% } %>
      
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%- include('partials/footer') %>